html, body {
    background-color: aquamarine;
}
.text-responsive {
    font-size: 16px;
    font-size: 12vw;
}
.loading-placeholder {
    margin: 0;
    padding: 0;
    max-width: 99%;
    max-height: 99%;
    font-size: 20vmin;
}
